<footer class="bg-gray-800 text-white py-6">
  <div class="container mx-auto flex flex-col items-center flex-wrap items-center justify-between">
      <span>Copyright © 2024 山东教育审计学会 版权所有</span>
      <span>地址：济南市历山路36号 邮政编码：250013</span>
      <span>信箱：sdjysjxh9163.com 电话：0531-86593088</span>
      <span>鲁ICP备xxxxxxxxx号</span>
  </div>
</footer>