<header class="header bg-gradient-to-r from-cyan-200 from-blue-300">
<div class="flex justify-between items-center mx-40 py-10">
  <div class="header-left">
    <h1 class="name text-4xl font-black">山东教育审计学会</h1>
    <p class="text-base font-meidum text-slate-600">ShanDong Educational Audit Society</p>
  </div>
  <div class="header-right">
    <ul class="flex gap-6">
      <li class="border-b-4 border-indigo-500"><a href="/">首页</a></li>
      <li class="hover:border-b-4 border-indigo-300"><a href="/about"  target="_blank">财政部</a></li>
      <li class="hover:border-b-4 border-indigo-300"><a href="/about">审计署</a></li>
      <li class="hover:border-b-4 border-indigo-300"><a href="/about">审计厅</a></li>
      <li class="hover:border-b-4 border-indigo-300"><a href="/about">教育厅</a></li>
      <li class="hover:border-b-4 border-indigo-300"><a href="/about">中国教育审计学会</a></li>
    </ul>
  </div>
</div>
</header>

<style>
  .header {
    background-color: ;
  }
  .header .header-left {
    width: 24%;
    text-align-last: justify;
  }
  .header .header-left .name {
    color: #B70000;
  }
</style>
