<div class="border-2 border-slate-300 rounded-lg">
  <h2 class="bg-slate-500 font-bold text-xl text-center">新闻资讯</h2>
  <ul class="text-sm">
    <li class="hover:text-lime-600"><a href="">在二十届中央审计委员会第一次会议上的讲话2023-11-01</a></li>
    <li class="hover:text-lime-600"><a href="">新时代新征程审计工作高质量发展的根本指引2023-11-01</a></li>
    <li class="hover:text-lime-600"><a href="">更好发挥审计在推进党的自我革命中的独特作用2023-11-08</a></li>
    <li class="hover:text-lime-600"><a href="">采纳审计建议 山东出台意见加强国有企业投资监督管理2024-01-05</a></li>
    <li class="hover:text-lime-600"><a href="">全口径管理 智能化分析——山东省审计厅推进审计整改督查工...2024-01-04</a></li>
    <li class="hover:text-lime-600"><a href="">省审计厅召开离退休干部工作领导小组会议2023-12-26</a></li> 
    <li class="hover:text-lime-600"><a href="">山东出台经济责任审计结果运用办法2023-12-25</a></li>
    <li class="hover:text-lime-600"><a href="">省审计厅召开党组会议2023-12-26</a></li>
  </ul>
</div>